


<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">

    <div *ngFor="let prodotto of prodotti">

      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ prodotto.name }}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ prodotto.description }}</p>
        </mat-card-content>
      </mat-card>
      <img [src]="convertBase64ToImageUrl(prodotto.image)" alt="Immagine del prodotto" />

      <br>
    </div>


  </div>
  <div class="col-lg-2"></div>
</div>
