.full-width {
  width: 100%;
}

a{
  text-align: center;
}

button{
  max-width: 100%;
}

.mat-tooltip {
  color: white;
  font-size: 1rem;
  border-radius: 4px;
}
.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
  text-align: center;
  font-family: Calibri, sans-serif;
  margin: 20px;
  font-size: 50px;
}
