<mat-card>
  <h1>PRENOTAZIONI</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- idBooking Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="Servizio">
      <th mat-header-cell *matHeaderCellDef> Servizio </th>
      <td mat-cell *matCellDef="let booking"> {{booking.service_name | uppercase}} </td>    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="Data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let booking"> {{booking.date | date:'yyyy-MM-dd'}} </td>    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="Orario">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let booking"> {{booking.time}} </td>
    </ng-container>

    <!-- idBooking Column -->
    <ng-container matColumnDef="idBooking">
      <th mat-header-cell *matHeaderCellDef> ID Booking </th>
      <td mat-cell *matCellDef="let booking"> {{booking.id_booking}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-raised-button (click)="eliminaPrenotazione()" color="primary">Elimina</button>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 aria-label="Select page of periodic elements"
                 showFirstLastButtons>

  </mat-paginator>
</mat-card>
