table {
  width: 100%;

}
h1{
  text-align: center;
  font-family: Calibri, sans-serif;
  margin: 20px;
  font-size: 50px;
}
.data{
  margin: 10px;
  font-size: 20px;
}
button{
  margin: 10px;
  margin-top: 20px;
  font-size: 18px;
}
.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scrollable-div {
    overflow-x: auto;
}

