<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Contatti Parrucchiere</title>
</head>
<body>

<div class="contact-card">
  <h1 th:text="${title}">Contatti Parrucchiere</h1>

  <!-- Dettagli di contatto -->
  <div>
    <p><strong>Telefono:</strong><span th:text="${telefono}">telefono</span></p>
    <p><strong>Email:</strong><span th:text="${email}">email</span></p>
    <p><strong>Indirizzo:</strong><span th:text="${indirizzo}">indirizzo</span></p>
  </div>
</div>

</body>
</html>