
<mat-form-field class="example-full-width" appearance="outline">
  <mat-label>Password</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordCheck"
         [matTooltip]="passwordCheck.invalid ? passwordInvalidMessage : ''">
  <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
