




<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8">
      <mat-card>
        <mat-card-content [formGroup]="prenotaForm">

          <div class="row">
            <!-- ----------------- SERVIZIO ----------------- -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Servizio</mat-label>
              <mat-select [formControl]="servizioCheck">
                <mat-option *ngFor="let servizio of servizi" [value]="servizio">
                  {{servizio}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row">
            <div class="col-lg-8">
              <!-- ----------------- DATA ----------------- -->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Data</mat-label>
                <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" [formControl]="dataCheck">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-lg-4">
              <!-- ----------------- ORA ----------------- -->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ora</mat-label>
                <mat-select [formControl]="orarioCheck">
                  <mat-option *ngFor="let ora of orari" [value]="ora">
                    {{ora}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- ----------------- SUBMITTA LA PRENOTAZIONE ----------------- -->
            <button mat-raised-button color="primary" [disabled]="prenotaForm.invalid" (click)="effettuaPrenotazione()">Prenota appuntamento</button>
          </div>


        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>
