<div class="container">
  <mat-card>
    <h1 class="text-center">Prenota un appuntamento</h1>
    <br>
    <mat-progress-spinner *ngIf="isLoading" class="center-screen" mode="indeterminate"></mat-progress-spinner>
    <mat-card-content [formGroup]="prenotaForm">
      <div class="row">
          <!-- ----------------- SESSO ----------------- -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Sesso</mat-label>
            <mat-select [formControl]="sessoCheck" (selectionChange)="changeSesso($event)">
              <mat-option value="M">Uomo</mat-option>
              <mat-option value="F">Donna</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="row">
        <!-- ----------------- SERVIZIO ----------------- -->
        <mat-form-field class="full-width" appearance="outline" >
          <mat-label>Servizio</mat-label>
          <mat-select [formControl]="servizioCheck" (selectionChange)="changeServizio($event)" >
            <mat-option *ngFor="let servizio of servizi" value="{{servizio.id}}">
              {{servizio.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <!-- ----------------- DATA ----------------- -->
          <mat-form-field class="full-width" appearance="outline" >
            <mat-label>Data</mat-label>
            <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" [formControl]="dataCheck" (dateChange)="changeDate($event)" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
                          </mat-form-field>
        </div>

        <div class="col-lg-4">
          <!-- ----------------- ORA ----------------- -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Ora</mat-label>
            <mat-select [formControl]="orarioCheck"  (selectionChange)="changeOrario()" >
              <mat-option *ngFor="let item of orari" [value]="item.idBookingDate" >
                {{item.ora}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row" [class.disabled-content]="isDisabled">
        <div class="fixed-payment-button" >
          <button (click)="apriPagamento()" class="modern-button" [disabled]="isDisabled">
            <span>Prenota e Paga</span>
            <mat-icon>payment</mat-icon>
          </button>
        </div>
      </div>

      <br>


    </mat-card-content>
  </mat-card>
</div>
