
<div class="galleria" id="galleria">
  <div id="DidascaliaCarosello" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicatori Dinamici -->
    <div class="carousel-indicators">
      <button type="button" *ngFor="let slide of slides; let i = index"
              [attr.data-bs-target]="'#DidascaliaCarosello'"
              [attr.data-bs-slide-to]="i"
              [class.active]="i === 0"
              aria-current="true"
              [attr.aria-label]="'Slide ' + (i + 1)"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let slide of slides; let i = index" [class.active]="i === 0">
        <img [src]="'./assets/images/Carousel/' + slide.src" class="d-block w-100" [alt]="slide.title">
      </div>
    </div>

    <!-- Pulsanti -->
    <button class="carousel-control-prev" type="button" data-bs-target="#DidascaliaCarosello" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Precedente</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#DidascaliaCarosello" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Successivo</span>
    </button>
  </div>
</div>

<mat-grid-list cols="4" rowHeight="400px" style="margin: 20px;">
  @for (tile of tiles; track tile) {
    <mat-grid-tile
      [colspan]="tile.cols"
      [rowspan]="tile.rows">
      <img [src]="tile.image" alt="Image description">
      </mat-grid-tile>
  }
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="400px" style="margin: 20px;">
  @for (tile of tiles2; track tile) {
    <mat-grid-tile
      [colspan]="tile.cols"
      [rowspan]="tile.rows">
      <img [src]="tile.image" alt="Image description">
    </mat-grid-tile>
  }
</mat-grid-list>
