mat-card {
  display: flex;
  justify-content: center;
  align-items: center;

}

mat-card img {
  width: 60%; /* Imposta la larghezza desiderata */
  height: 60%; /* Imposta l'altezza desiderata */

}
