.spacer {
  flex: 1 1 auto;
}

.navbar-logo {
  height: 60px;
  width: 130px;
}
mat-toolbar {
  min-width: max-content;
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.v{
  color: black;
}
