
<!--
center
upward
forward
-->


<ul class="nav-links">
  <li class="upward">
    <a href="/">
      <mat-icon class="icon-spacing" fontIcon="home"></mat-icon>
    </a>
  </li>
  <li class="forward right">
    <a href="/prodotti">
      Prodotti
      <mat-icon fontIcon="inventory"></mat-icon>
    </a>
  </li>
  <li class="forward ">
    <a href="/prenota">
      Prenota
      <mat-icon fontIcon="calendar_today"></mat-icon>
    </a>
  </li>
  <li class="forward ">
    <a href="/galleria">
      Galleria
      <mat-icon fontIcon="photo"></mat-icon>
    </a>
  </li>
  <li class="forward ">
    <a href="/contatti">
      Contatti
      <mat-icon fontIcon="contacts"></mat-icon>
    </a>
  </li>
  <li >
    <a class="upward" href="/contatti">
    </a>
  </li>
</ul>
