<mat-toolbar>
  <span><img class="navbar-logo" src="assets/images/full-logo-transparent.png" alt="Descrizione dell'immagine"></span>

  <div class="v">
    <button mat-button [routerLink]="['home']">Home</button>
    <button mat-button [routerLink]="['prenota']">Prenota</button>
    <button mat-button [routerLink]="['prodotti']">Prodotti</button>
    <button mat-button [routerLink]="['galleria']">Galleria</button>
    <button mat-button [routerLink]="['contatti']">Contatti</button>
    <button mat-raised-button [routerLink]="['login']" color="primary">Login</button>
  </div>
</mat-toolbar>
