
<!--
center
upward
forward
-->


<ul class="nav-links">
  <li class="upward">
    <a href="/">
      <img src="assets/images/text-logo.png" alt="" id="homeText">
    </a>
  </li>
  <li class="upward right">
    <a href="/prodotti">
      Prodotti
      <mat-icon fontIcon="inventory"></mat-icon>
    </a>
  </li>
  <li class="upward">
    <a href="/prenota">
      Prenota
      <mat-icon fontIcon="calendar_today"></mat-icon>
    </a>
  </li>
  <li class="upward">
    <a href="/galleria">
      Galleria
      <mat-icon fontIcon="photo"></mat-icon>
    </a>
  </li>
  <li class="upward">
    <a href="/contatti">
      Contatti
      <mat-icon fontIcon="contacts"></mat-icon>
    </a>
  </li>
  <li >
    <a class="upward" href="/contatti">
    </a>
  </li>
</ul>
