<form class="example-form">

  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>

      <div class="col-lg-6">
        <mat-card>
          <mat-card-content [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="row">
              <app-username [label]="'Nome Utente'" [type]="'text'" [control]="username"></app-username>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                <button mat-raised-button color="primary" style="width: 100%" [disabled]="loginForm.invalid" (click)="onLogin()">Accedi</button>
                <br><br>
                <a mat-button [routerLink]="['/registrazione']" color="accent" style="text-align: center" >Non sei ancora registrato? Registrati!</a>

              </div>
              <div class="col-lg-2"></div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-3"></div>
    </div>
  </div>
</form>
