<form class="example-form">

      <div class="container">
        <div class="row">
          <div class="col-lg-3"></div>

          <div class="col-lg-6">
            <mat-card>
              <mat-card-content>
                <div class="row">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="Enter your name" name="usename">
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter your password" value="" name="password" type="password">
                  </mat-form-field>
                </div>
                <div class="row">
                  <button mat-raised-button color="primary">Submit</button>
                  <span> <button mat-button color="accent">Login success !!</button></span>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-lg-3"></div>
        </div>
      </div>
</form>
