

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
  display: none;
}


/* Personalizzazione del Tooltip */
.mat-tooltip {
  background-color: #f44336; /* Colore di sfondo rosso */
  color: white;             /* Testo bianco */
  font-size: 1rem;          /* Dimensione del font */
  border-radius: 4px;       /* Bordi arrotondati */
}

/* Animazioni per il Tooltip */
.mat-tooltip-handset .mat-tooltip {
  opacity: 0; /* Inizia con opacità 0 */
  transition: opacity 0.3s ease-in-out; /* Transizione di opacità */
}

/* Quando il tooltip è attivo */
.mat-tooltip-handset .mat-tooltip.mat-tooltip-shown {
  opacity: 1; /* Opacità completa quando è visibile */
}

